---
import Layout from '../layouts/Layout.astro';

import Header from '../components/header.astro';
---

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
  </head>
  <body>
    <Header />

	
	<Layout title="Tribunal Administrativo de la Función Pública" descripcion="Página Principal del Tribunal Administrativo de la Función Pública">
		<main class="contenedor">
			<div class="ginfo">
				<p>Los recursos de apelación y otras peticiones son competencia del Tribunal Administrativo de la Función Pública, pueden hacerse de manera presencial en la sede del Tribunal o por medios electrónicos utilizando los correos institucionales habilitados para tal fin.
					<p>Esto con el objetivo de garantizar el acceso a la justicia administrativa laboral y en atención a los principios de eficacia, realización oportuna de la función pública y legalidad.</p>
					<p>En ese sentido, le informamos a la ciudadanía que los diferentes canales que utilizará para recibir los recursos de apelación y otras peticiones de su competencia, serán los detallados a continuación.</p>
				</p>
			</div>
			<div class="canales">
				<div class="canal">
					<h2>Para recursos de apelación contra acciones de recursos 
						humanos, tales como: traslados, 
						vacaciones, capacitaciones, etc. </h2>
						<ul>
							<li> 
								<a href="mailto:otrasapelaciones1@tafp.gob.pa">
									otrasapelaciones1@tafp.gob.pa
								</a> 
								Para los residentes de Provincias de Panamá y Panamá Oeste.
							</li>
							<li>
								<a href="otrasapelaciones2@tafp.gob.pa">
									otrasapelaciones2@tafp.gob.pa
								</a>
								Para los residentes de las otras provincias.
							</li>
							<li>
								Guía descargable para presentar tu solicitud: 
								<a href="https://www.tafp.gob.pa/assets/archivos/16-9-24%20NUEVA%20GUIA%20SALA%20UNITARIA.docx">
									AQUÍ
								</a>.
							</li>
						</ul>
				</div>
				<div class="canal"></div>
				<div class="canal"></div>
			</div>
		</main>
	</Layout>
	
	<style>	
		a{
			color: var(--black);
			font-weight: bold;
		}
		A:hover{
			color: var(--primario-bold);
		}
		p{
			font-size: 1.9rem !important;
			color: var(--primario);
			text-align: justify;
			text-justify: inter-word;
		}
		.ginfo{
			padding: 5.5rem;
		}
	</style>