---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Tribunal Administrativo de la Función Pública" descripcion="Página Principal del Tribunal Administrativo de la Función Pública">
	<main>
		<h1>Hi</h1>
		<h2>Hi</h2>
		<h3>Hi</h3>
		<h4>Hi</h4>
	</main>
</Layout>


