---
import Header from '../components/Header.astro'
interface Props {
	title: string;
	descripcion: string;
}

const { title, descripcion } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={descripcion} />
		<meta name="viewport" content="width=device-width" />
		<link rel="apple-touch-icon" type="image/svg+xml" href="/apple-touch-icon.png" />
		<link rel="icon" type="image/svg+xml" href="/favicon-32x32.png" />
		<link rel="icon" type="image/svg+xml" href="/favicon-16x16.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
	</head>
	<Header />
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--fontheading: 'PT Sans', sans serif;
		--fontparagraph: 'Open Sans', sans serif;
		--primario: #556c86;
		--primario-bold: #0a58ca;
		--blanco: #fff;
		--negro: #000;
		--secundario: #cfe2ff;
		--gris: #f8f9fa;
	}
	html {
		background-color: var(--gris);
		box-sizing: border-box;
		font-size: 62.5%;
	}
	*, *:befor, *:after {
    box-sizing: inherit;
	}
	body{
		font-family: var(--fontparagraph);
		font-size: 1.6rem;
		line-height: 1.5;
	}
	.contenedor{
		width: min(95%, 145rem);
		margin: 0 auto;
	}
	h1,h2,h3,h4{
		font-family: var(--fontheading);
		line-height: 1.2;
	}
	a{text-decoration: none;}
	h1{font-size: 2.8rem;}
	h2{font-size: 2.4rem;}
	h3{font-size: 2rem;}
	h4{font-size: 1.6rem;}
	p{font-size: 1.4rem;}
	img{width: 100%;}
	.no-margin{margin: 0;}
	.no-padding{padding: 0;}
	.text-c{text-align: center;}
</style>
